{# templates/devis/detail.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails du Devis{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <h1 class="text-2xl font-bold mb-4">Détails du Devis #{{ devis.id }}</h1>
    <p><strong>Date :</strong> {{ devis.date|date('Y-m-d') }}</p>
    <p><strong>Prix Total :</strong> {{ devis.prixTotal }}</p>
    <h2 class="text-xl font-bold mt-4">Détails des Haies </h2> 
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>Haie</th>
                <th>Longueur</th>
                <th>Hauteur</th>
            </tr>
        </thead>
        <tbody>
            {% for taille in tailler %}
                <tr>
                    <td>{{ taille.haie.nom }}</td>
                    <td>{{ taille.longueur }}</td>
                    <td>{{ taille.hauteur }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
